<div class="container-fluid pt-3">
  <h3><%= @project.name %> Kanban</h3>
  <div class="row flex-row flex-sm-nowrap py-5">

        <% @artifacts.each do |story| %>
          <div class="col-sm-4 col-md-3">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title text-truncate py-2">To Do</h4>
                <div class="card p-2 bg-faded">
                  <h5 class="card-title"><%= story.title %></h5>
                  <p><%= story.story %></p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-md-3">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title text-truncate py-2">Doing</h4>
                <div class="card p-2 bg-faded">
                  <h5 class="card-title"><%= story.title %></h5>
                  <p><%= story.story %></p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-4 col-md-3">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title text-truncate py-2">Done</h4>
                <div class="card p-2 bg-faded">
                  <h5 class="card-title"><%= story.title %></h5>
                  <p><%= story.story %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
